/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/
:root {
  /* Colors */
  --main-white: #ffffff;
  --main-green: #274a35;
  --main-red: #92272c;
  --main-black: #000000;
  --complementary-one: #b1c6af;
  --complementary-two: #d6d6d6;
  /* Shadows */
  --black-shadow-light: rgba(0, 0, 0, 0.3);
  --shadow-complementary-one: rgba(177, 198, 175, 0.6);
  /* Calendar */
  --cancel: #f54f58;
  --to-confirm: #eee350;
  --sold: #5deb95;
  --available: #7a78e4;
  /* Readme */
  --readme-blue-1: #22577E;
  --readme-blue-2: #5584AC;
  --readme-blue-3: #22577E;
  --readme-yellow: #95D1CC;
  /* Font */
  --main-font: "Akshar", sans-serif;
}

/************************************************************/
/************************* Settings *************************/
/************************************************************/
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--complementary-two);
  font-family: var(--main-font);
  font-size: 1.8rem;
  line-height: 2;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: var(--complementary-two);
  width: 1.2rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-red);
  border-radius: 1rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-green);
  border-radius: 1rem;
}

/*************************************************************/
/************************* Utilities *************************/
/*************************************************************/
.bg-green {
  background-color: var(--main-green);
}

.bg-red {
  background-color: var(--main-red);
}

.bolder {
  font-weight: bolder;
}

.card-shadow {
  box-shadow: 1rem 1rem 0.8rem var(--black-shadow-light);
}

.clear-link {
  text-decoration: none;
}

.clear-list {
  list-style: none;
}

.color-green {
  color: var(--main-green);
}

.color-red {
  color: var(--main-red);
}

.color-complementaryTwoHover:hover {
  color: var(--complementary-two);
}

.link-button button {
  background-color: var(--main-black);
  border: solid 0.2rem var(--main-white);
  border-radius: 2rem;
  color: var(--main-white);
  font-size: 2.4rem;
  padding: 2rem 4rem;
  transition: all linear 0.2s;
}

.link-button button:hover {
  border: solid 0.2rem var(--complementary-two);
  color: var(--complementary-two);
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .link-button button {
    font-size: 2.2rem;
    padding: 1.6rem 2.8rem;
  }
}
.text-center {
  text-align: center;
}

.title-red {
  background-color: var(--main-red);
}

.title-green {
  background-color: var(--main-green);
}

.title-red,
.title-green {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 6rem 2rem;
  width: 100%;
}
.title-red *,
.title-green * {
  color: var(--main-white);
  font-size: 6rem;
  margin-top: 6rem;
  padding: 0 4rem;
  text-align: center;
  width: 100%;
}

@media (max-width: 800px) {
  .title-red *,
.title-green * {
    font-size: 4rem;
  }
}
/****************************************************************/
/************************* Menu Desktop *************************/
/****************************************************************/
.desktop-menu .desktop-menu__navbar {
  align-items: center;
  background-color: var(--main-black);
  box-shadow: 0rem 0.2rem 1.6rem var(--main-black);
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  transition: top ease-in-out 1s;
  width: 100%;
  z-index: 1000;
}
.desktop-menu .desktop-menu__navbar .desktop-menu__icon {
  color: var(--main-white);
  font-size: 2.4rem;
  transition: transform linear 0.2s;
}
.desktop-menu .desktop-menu__navbar .desktop-menu__icon:hover {
  color: var(--complementary-two);
  cursor: pointer;
}
.desktop-menu .desktop-menu__navbar .desktop-menu__icon:active {
  color: var(--main-white);
  cursor: pointer;
  transform: rotate(180deg);
}
.desktop-menu .desktop-menu__navbar .desktop-menu__menu {
  align-items: center;
  display: flex;
  list-style: none;
}
.desktop-menu .desktop-menu__navbar .desktop-menu__menu .desktop-menu__element {
  height: inherit;
}
.desktop-menu .desktop-menu__navbar .desktop-menu__menu .desktop-menu__element .desktop-menu__link {
  color: var(--main-white);
  border-bottom: solid 0.4rem transparent;
  display: inline-block;
  font-size: 2.4rem;
  padding: 1rem 6rem;
  text-decoration: none;
}
.desktop-menu .desktop-menu__navbar .desktop-menu__menu .desktop-menu__element .desktop-menu__link.desktop-menu__link--selected {
  border-bottom: solid 0.4rem var(--main-white);
  font-weight: bolder;
}
.desktop-menu .desktop-menu__navbar .desktop-menu__menu .desktop-menu__element .desktop-menu__link:hover,
.desktop-menu .desktop-menu__navbar .desktop-menu__menu .desktop-menu__element .desktop-menu__link.desktop-menu__link-selected:hover {
  border-bottom: solid 0.4rem var(--complementary-two);
  color: var(--complementary-two);
}
.desktop-menu .desktop-menu__lateral-layout {
  height: 100vh;
  left: -46rem;
  position: fixed;
  top: 0;
  transition: left ease-in-out 1.2s;
  visibility: hidden;
  width: 100vw;
  z-index: 1000;
}
.desktop-menu .desktop-menu__lateral-layout .desktop-menu__lateral {
  align-items: center;
  background-color: var(--main-black);
  box-shadow: 0.2rem 0rem 1.6rem var(--main-black);
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  width: 40rem;
}
.desktop-menu .desktop-menu__lateral-layout .desktop-menu__lateral .desktop-menu__lateral-head {
  align-items: center;
  border-bottom: solid 0.1rem var(--main-white);
  display: flex;
  height: 30%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.desktop-menu .desktop-menu__lateral-layout .desktop-menu__lateral .desktop-menu__lateral-head .desktop-menu__lateral-close {
  color: var(--main-white);
  font-size: 2.8rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.desktop-menu .desktop-menu__lateral-layout .desktop-menu__lateral .desktop-menu__lateral-head .desktop-menu__lateral-close:hover {
  color: var(--complementary-two);
  cursor: pointer;
}
.desktop-menu .desktop-menu__lateral-layout .desktop-menu__lateral .desktop-menu__lateral-head .desktop-menu__lateral-image {
  border-radius: 50%;
  height: 90%;
}
.desktop-menu .desktop-menu__lateral-layout .desktop-menu__lateral .desktop-menu__lateral-menu {
  list-style: none;
  margin-top: 2rem;
  max-height: 68%;
  overflow-y: auto;
  width: 100%;
}
.desktop-menu .desktop-menu__lateral-layout .desktop-menu__lateral .desktop-menu__lateral-menu .desktop-menu__lateral-element .desktop-menu__link {
  color: var(--main-white);
  display: inline-block;
  font-size: 2.2rem;
  padding: 0.8rem 4rem;
  text-decoration: none;
  transition: all linear 0.1s;
  width: 100%;
}
.desktop-menu .desktop-menu__lateral-layout .desktop-menu__lateral .desktop-menu__lateral-menu .desktop-menu__lateral-element .desktop-menu__link:hover {
  background-color: var(--main-white);
  color: var(--main-dark);
}
.desktop-menu .desktop-menu__lateral-layout .desktop-menu__lateral .desktop-menu__lateral-menu::-webkit-scrollbar {
  background-color: var(--main-black);
  width: 1.2rem;
}
.desktop-menu .desktop-menu__lateral-layout .desktop-menu__lateral .desktop-menu__lateral-menu::-webkit-scrollbar-thumb {
  background-color: var(--main-red);
  border-radius: 1rem;
}
.desktop-menu .desktop-menu__lateral-layout .desktop-menu__lateral .desktop-menu__lateral-menu::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-green);
  border-radius: 1rem;
}
.desktop-menu .desktop-menu__lateral-layout.desktop-menu__lateral--active {
  left: 0;
}

@media (max-width: 900px) {
  .desktop-menu {
    display: none;
  }
}
/***************************************************************/
/************************* Menu Mobile *************************/
/***************************************************************/
.mobile-menu {
  display: none;
}
.mobile-menu .mobile-menu__navbar {
  align-items: center;
  background-color: var(--main-black);
  box-shadow: 0rem 0.2rem 1.6rem var(--main-black);
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  position: fixed;
  top: -20rem;
  transition: top ease-in-out 0.8s;
  width: 100%;
  z-index: 1000;
}
.mobile-menu .mobile-menu__navbar .mobile-menu__navbar-image {
  width: 14rem;
}
.mobile-menu .mobile-menu__navbar .mobile-menu__icon {
  color: var(--main-white);
  font-size: 2.4rem;
  transition: transform linear 0.2s;
}
.mobile-menu .mobile-menu__navbar .mobile-menu__icon:hover {
  color: var(--complementary-two);
  cursor: pointer;
}
.mobile-menu .mobile-menu__navbar .mobile-menu__icon:active {
  color: var(--main-white);
  cursor: pointer;
  transform: rotate(180deg);
}
.mobile-menu .mobile-menu__medium {
  height: 100vh;
  position: fixed;
  top: -45%;
  transition: top ease-in-out 0.8s;
  visibility: hidden;
  width: 100%;
  z-index: 1000;
}
.mobile-menu .mobile-menu__medium .mobile-menu__medium-inner {
  align-items: center;
  background-color: var(--main-black);
  box-shadow: 0rem 0.2rem 1.6rem var(--main-black);
  display: flex;
  justify-content: center;
  position: relative;
}
.mobile-menu .mobile-menu__medium .mobile-menu__medium-inner .mobile-menu__medium-close {
  color: var(--main-white);
  font-size: 2.8rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.mobile-menu .mobile-menu__medium .mobile-menu__medium-inner .mobile-menu__medium-close:hover {
  color: var(--complementary-two);
  cursor: pointer;
}
.mobile-menu .mobile-menu__medium .mobile-menu__medium-inner .mobile-menu__medium-one,
.mobile-menu .mobile-menu__medium .mobile-menu__medium-inner .mobile-menu__medium-two {
  align-items: center;
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}
.mobile-menu .mobile-menu__medium .mobile-menu__medium-inner .mobile-menu__medium-one .mobile-menu__medium-element .mobile-menu__medium-link,
.mobile-menu .mobile-menu__medium .mobile-menu__medium-inner .mobile-menu__medium-two .mobile-menu__medium-element .mobile-menu__medium-link {
  color: var(--main-white);
  font-size: 2.2rem;
  min-width: 20rem;
  text-decoration: none;
  text-align: center;
}
.mobile-menu .mobile-menu__medium .mobile-menu__medium-inner .mobile-menu__medium-one .mobile-menu__medium-element .mobile-menu__medium-link:hover,
.mobile-menu .mobile-menu__medium .mobile-menu__medium-inner .mobile-menu__medium-two .mobile-menu__medium-element .mobile-menu__medium-link:hover {
  color: var(--complementary-two);
  font-size: 2.2rem;
  text-decoration: none;
}
.mobile-menu .mobile-menu__medium .mobile-menu__medium-inner .mobile-menu__medium-image {
  border-radius: 50%;
  flex-basis: 30%;
  margin: 4rem;
  width: 16rem;
}
.mobile-menu .mobile-menu__medium.mobile-menu__medium--active {
  top: 0%;
}
.mobile-menu .mobile-menu__small {
  display: none;
  height: 100vh;
  position: fixed;
  transition: top ease-in-out 0.8s;
  top: -100%;
  visibility: hidden;
  width: 100%;
  z-index: 1000;
}
.mobile-menu .mobile-menu__small .mobile-menu__small-inner {
  align-items: center;
  background-color: var(--main-black);
  box-shadow: 0rem 0.2rem 1.6rem var(--main-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}
.mobile-menu .mobile-menu__small .mobile-menu__small-inner .fa-solid.fa-xmark.mobile-menu__small-close {
  color: var(--main-white);
  font-size: 2.8rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.mobile-menu .mobile-menu__small .mobile-menu__small-inner .fa-solid.fa-xmark.mobile-menu__small-close:hover {
  color: var(--complementary-two);
  cursor: pointer;
}
.mobile-menu .mobile-menu__small .mobile-menu__small-inner .mobile-menu__small-image {
  border-radius: 50%;
  margin: 2rem;
  width: 16rem;
}
.mobile-menu .mobile-menu__small .mobile-menu__small-inner .mobile-menu__small-menu {
  border-top: solid 0.1rem var(--main-white);
  padding: 2rem 0;
  width: 100%;
}
.mobile-menu .mobile-menu__small .mobile-menu__small-inner .mobile-menu__small-menu .mobile-menu__small-element .mobile-menu__small-link {
  color: var(--main-white);
  display: inline-block;
  font-size: 2.2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.mobile-menu .mobile-menu__small .mobile-menu__small-inner .mobile-menu__small-menu .mobile-menu__small-element .mobile-menu__small-link:hover {
  color: var(--complementary-two);
}
.mobile-menu .mobile-menu__small.mobile-menu__small--active {
  top: 0;
}

@media (max-width: 900px) {
  .mobile-menu {
    display: block;
  }
  .mobile-menu .mobile-menu__navbar {
    top: 0;
  }
}
@media (max-width: 680px) {
  .mobile-menu .mobile-menu__medium {
    display: none;
  }
  .mobile-menu .mobile-menu__small {
    display: block;
  }
}
/********************************************************/
/************************* Hero *************************/
/********************************************************/
.hero .hero__layout {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.hero .hero__layout a {
  display: flex;
  width: 100%;
}
.hero .hero__layout a .hero__image {
  margin: 0 auto;
  width: 80%;
}

.hero.hero-home {
  background-image: url("../img/jpg/forest.jpg");
  background-size: cover;
  background-position: center/center;
  background-repeat: no-repeat;
}

.hero.hero-us {
  background-image: url("../img/jpg/people.jpg");
  background-size: cover;
  background-position: center/center;
  background-repeat: no-repeat;
}

.hero.hero-contact {
  background-image: url("../img/jpg/forest_3.jpg");
  background-size: cover;
  background-position: center/center;
  background-repeat: no-repeat;
}

/**********************************************************/
/************************* Mosaic *************************/
/**********************************************************/
.mosaic {
  margin: 12rem 0;
  min-height: 100vh;
  width: 100%;
}
.mosaic .mosaic__row-reverse.mosaic-reverse {
  flex-direction: row;
}
.mosaic .mosaic__row-reverse {
  flex-direction: row-reverse;
}
.mosaic .mosaic-reverse {
  flex-direction: row-reverse;
}
.mosaic .mosaic-reverse .mosaic__title.mosaic-reverse {
  background-color: var(--main-green);
}
.mosaic .mosaic-reverse .mosaic__content.mosaic-reverse {
  background-color: var(--main-red);
}
.mosaic .mosaic__row {
  display: flex;
  height: 50vh;
  width: 100%;
}
.mosaic .mosaic__row figure {
  height: 100%;
  width: 50%;
}
.mosaic .mosaic__row figure .mosaic__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.mosaic .mosaic__row .mosaic__title {
  align-items: center;
  background-color: var(--main-red);
  color: var(--main-white);
  display: flex;
  font-size: 2.8rem;
  height: 100%;
  justify-content: center;
  padding: 4rem;
  width: 50%;
}
.mosaic .mosaic__row .mosaic__title h2 {
  text-align: center;
}
.mosaic .mosaic__row .mosaic__content {
  align-items: center;
  background-color: var(--main-green);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  justify-content: center;
  padding: 2rem;
  width: 50%;
}
.mosaic .mosaic__row .mosaic__content a {
  color: var(--main-white);
  text-decoration: none;
}
.mosaic .mosaic__row .mosaic__content a:hover {
  color: var(--complementary-two);
  text-decoration: none;
}

@media (max-width: 760px) {
  .mosaic {
    margin: 10rem 0;
    min-height: 200vh;
    width: 100%;
  }
  .mosaic .mosaic__row-reverse.mosaic-reverse {
    flex-direction: column;
  }
  .mosaic .mosaic__row-reverse {
    flex-direction: column-reverse;
  }
  .mosaic .mosaic-reverse {
    flex-direction: column-reverse;
  }
  .mosaic .mosaic__row {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  .mosaic .mosaic__row figure,
.mosaic .mosaic__row .mosaic__title,
.mosaic .mosaic__row .mosaic__content {
    width: 100%;
  }
}
/************************************************************/
/************************* Messages *************************/
/************************************************************/
.messages {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem;
  width: 100%;
}
.messages .messages__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: max(35%, 30rem);
}
.messages .messages__container .messages__icon svg {
  transition: all linear 0.4s;
}
.messages .messages__container .messages__text p {
  font-size: 2.2rem;
  line-height: 2.2;
  transition: all linear 0.4s;
}
.messages .messages__container:hover .message-one.messages__text p {
  color: var(--main-red);
}
.messages .messages__container:hover .message-two.messages__text p {
  color: var(--main-green);
}
.messages .messages__container:hover .messages__icon svg {
  height: 260px;
  width: 260px;
}
.messages .messages__container:hover .message-one.messages__icon svg {
  stroke: var(--main-red);
}
.messages .messages__container:hover .message-two.messages__icon svg {
  stroke: var(--main-green);
}

/**********************************************************/
/************************* Slider *************************/
/**********************************************************/
.slider {
  background-color: transparent;
  height: 60rem;
  margin: 4rem auto;
  max-width: 120rem;
  position: relative;
  width: 95%;
}
.slider .slider__container {
  bottom: 5rem;
  height: calc(100% - 10rem);
  left: 5rem;
  position: absolute;
  right: 5rem;
  top: 5rem;
  width: calc(100% - 10rem);
}
.slider .slider__container .slider__media {
  height: 100%;
  position: relative;
  width: 100%;
}
.slider .slider__container .slider__media .slider__slide {
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity linear 0.6s;
  width: 100%;
}
.slider .slider__container .slider__media .slider__slide .slider__information {
  align-items: center;
  background-color: var(--complementary-one);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 1rem;
}
.slider .slider__container .slider__media .slider__slide .slider__information * {
  margin: 1rem;
}
.slider .slider__container .slider__media .slider__slide img {
  height: 50rem;
  object-fit: cover;
  width: 100%;
}
.slider .slider__container-buttons {
  height: 10rem;
  left: 0;
  position: absolute;
  right: 0;
  top: calc(100% - 14rem);
  width: 100%;
  z-index: 100;
}
.slider .slider__container-buttons .slider__buttons {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.slider .slider__container-buttons .slider__buttons .slider__button {
  background-color: rgba(128, 128, 128, 0.5);
  border: solid 0.2rem rgba(211, 211, 211, 0.5);
  border-radius: 50%;
  height: 1.6rem;
  margin: 0.8rem;
  width: 1.6rem;
}
.slider .slider__container-buttons .slider__buttons .slider__button:hover {
  background-color: rgb(128, 128, 128);
  border: solid 0.2rem rgb(211, 211, 211);
  cursor: pointer;
}
.slider .slider__container-buttons .slider__buttons .slider__button.slider__button--selected {
  background-color: rgb(128, 128, 128);
  border: solid 0.2rem rgb(211, 211, 211);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .slider {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .slider {
    height: 90vh;
    width: 100%;
  }
  .slider .slider__container {
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
  }
  .slider .slider__container .slider__media .slider__slide img {
    height: 100%;
  }
  .slider__container-buttons {
    bottom: 0;
    height: 10rem;
    top: calc(100% + 10rem);
  }
  .slider__container-buttons .slider__buttons .slider__button {
    height: 1.4rem;
    margin: 0.6rem;
    width: 1.4rem;
  }
}
/********************************************************/
/************************* Tabs *************************/
/********************************************************/
.tabs {
  margin: 10rem auto;
  max-width: min(95%, 120rem);
}
.tabs .tabs__head {
  display: flex;
}
.tabs .tabs__head .tabs__tab {
  border-radius: 2rem 2rem 0 0;
  color: var(--main-white);
  font-size: 2.2rem;
  padding: 1rem 4rem;
  text-align: center;
}
.tabs .tabs__head .tabs__tab h3 {
  font-weight: 400;
}
.tabs .tabs__head .tabs__tab:hover {
  cursor: pointer;
}
.tabs .tabs__head .tabs__tab:hover h3 {
  color: var(--complementary-two);
}
.tabs .tabs__head .tabs__tab.tabs__tab--selected h3 {
  font-weight: bolder;
  text-transform: uppercase;
}
.tabs .tabs__body {
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 1rem 1rem var(--black-shadow-light);
  display: relative;
}
.tabs .tabs__body .tabs__container.tabs__container--selected {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.tabs .tabs__body .tabs__container.tabs__container--selected video {
  min-width: 50%;
}
.tabs .tabs__body .tabs__container {
  display: none;
}

.image-back {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.image-back .image-back__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.image-back .image-back__container {
  align-items: center;
  background-color: var(--shadow-complementary-one);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
  position: absolute;
  top: 75%;
  transition: top ease-in-out 0.8s;
  width: 100%;
}
.image-back .image-back__container .image-back__title h3 {
  font-size: 3.2rem;
  margin-top: 4rem;
  text-align: center;
}
.image-back .image-back__container .image-back__content {
  align-items: center;
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  justify-content: space-evenly;
}
.image-back .image-back__container .image-back__content p {
  font-size: 2.2rem;
  padding: 0 1rem;
}

.image-back:hover .image-back__container {
  top: 0;
}

/**********************************************************/
/************************* Footer *************************/
/**********************************************************/
.footer.footer-single {
  margin-top: 16rem;
}

.footer {
  background-color: var(--main-black);
  color: var(--main-white);
}
.footer .footer__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem 1rem;
  width: min(95%, 80rem);
}
.footer .footer__container .footer__social-message {
  font-size: 3.6rem;
  font-weight: normal;
  text-align: center;
}
.footer .footer__container .footer__social-icons .footer__social-link {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 4rem 0;
  text-decoration: none;
  transition: all linear 0.4s;
}
.footer .footer__container .footer__social-icons .footer__social-link i {
  color: var(--main-white);
  font-size: 6rem;
  margin: 0 4rem;
}
.footer .footer__container .footer__social-icons .footer__social-link:hover {
  transform: scale(1.6);
}
.footer .footer__container .footer__social-icons .footer__social-link:hover i {
  color: var(--complementary-two);
}
.footer .footer__container .footer__social-copyright {
  text-align: center;
}
.footer .footer__container .footer__social-les .footer__social-les-link {
  color: var(--main-white);
  text-align: center;
  text-decoration: none;
}
.footer .footer__container .footer__social-les .footer__social-les-link:hover {
  color: var(--complementary-two);
}

@media (max-width: 500px) {
  .footer .footer__container .footer__social-icons .footer__social-link {
    display: flex;
    flex-direction: column;
  }
  .footer .footer__container .footer__social-icons .footer__social-link i {
    color: var(--main-white);
    font-size: 6rem;
    margin: 0 4rem;
  }
}
.modal-layout {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity ease 0.2s, visibility ease 0.2s;
  visibility: hidden;
  z-index: 2000;
}

.modal-active.modal-layout {
  opacity: 1;
  transition: opacity ease 0.2s, visibility ease 0.2s;
  visibility: visible;
}

.modal {
  align-items: center;
  background-color: aliceblue;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.4rem 1.2rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 28rem;
  justify-content: space-around;
  position: relative;
  transform: scale(0.7);
  transition: transform ease 0.6s;
  width: 40rem;
}

.modal-active .modal {
  transform: scale(1);
  transition: transform ease 0.6s;
}

.modal__close {
  font-size: 2rem;
  opacity: 0;
  position: absolute;
  right: 5%;
  top: 5%;
  transition: opacity ease 1.6s;
}

.modal-active .modal__close {
  opacity: 1;
}

.modal__close:hover {
  color: gray;
  cursor: pointer;
}

.modal__title {
  margin-bottom: 2rem;
  opacity: 0;
  transition: opacity ease 1.6s, transform ease 0.6s;
  transform: translateY(-5rem);
}

.modal-active .modal__title {
  opacity: 1;
  transform: translateY(0);
}

.modal__information {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem;
  width: 90%;
}

.modal__text {
  height: 10rem;
  opacity: 0;
  overflow-y: scroll;
  padding: 0 1rem;
  transition: opacity ease 1.6s;
  width: 95%;
}

.modal-active .modal__text {
  opacity: 1;
}

.modal__text::-webkit-scrollbar {
  border-radius: 1rem;
  width: 1.2rem;
}

.modal__text::-webkit-scrollbar-thumb {
  background-color: lightblue;
  border-radius: 1rem;
}

.modal__text::-webkit-scrollbar-thumb:hover {
  background-color: cadetblue;
  border-radius: 1rem;
}

.modal__options {
  padding-bottom: 2rem;
  width: 90%;
}

.modal__line {
  border-top: solid 1px black;
  margin: 0 auto;
  opacity: 0.2;
  width: 100%;
}

.modal__buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transform: translateY(6rem);
  transition: transform ease 0.6s, opacity ease 1.6s;
  width: 100%;
}

.modal-active .modal__buttons {
  opacity: 1;
  transform: translateX(0);
}

.modal__button {
  border-radius: 0.4rem;
  color: white;
  text-decoration: none;
  margin: 0.8rem 0 0 1rem;
  padding: 0.5rem 1.5rem;
}

.modal__button:hover {
  border-radius: 0.4rem;
  color: lightgray;
  text-decoration: none;
}

.modal__ok {
  background-color: rgb(0, 148, 0);
}

.modal__ok:hover {
  background-color: rgb(3, 122, 3);
}

.modal__info {
  background-color: rgb(37, 37, 255);
}

.modal__info:hover {
  background-color: rgb(20, 20, 220);
}

.modal__cancel {
  background-color: rgb(231, 0, 0);
}

.modal__cancel:hover {
  background-color: rgb(200, 3, 3);
}

@media (max-width: 450px) {
  .modal {
    height: auto;
    width: 95%;
  }
  .modal__buttons {
    flex-direction: column;
    justify-content: center;
  }
  .modal__button {
    text-align: center;
    width: 100%;
  }
}
/* Modal Button */
.button-modal {
  border: none;
  border-radius: 0.5rem;
  color: white;
  display: block;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 2rem 4rem;
  width: 40rem;
}

@media (max-width: 450px) {
  .button-modal {
    line-height: 2.4;
    width: 95%;
  }
}
.button-modal:hover {
  color: lightgray;
  cursor: pointer;
}

.bg-greenButton {
  background-color: rgb(0, 148, 0);
}

.bg-greenButton:hover {
  background-color: rgb(3, 122, 3);
}

.bg-blueButton {
  background-color: rgb(37, 37, 255);
}

.bg-blueButton:hover {
  background-color: rgb(20, 20, 220);
}

.bg-redButton {
  background-color: rgb(231, 0, 0);
}

.bg-redButton:hover {
  background-color: rgb(200, 3, 3);
}

.bg-orangeButton {
  background-color: rgb(255, 165, 0);
}

.bg-orangeButton:hover {
  background-color: rgb(212, 141, 10);
}

.us-section {
  margin: 10rem 0 16rem 0;
  width: 100%;
}
.us-section .us-section__title h3 {
  font-size: 6rem;
  padding: 2rem 4rem;
  text-align: center;
}
.us-section .us-section__content--reverse {
  flex-direction: row-reverse;
}
.us-section .us-section__content {
  align-items: center;
  display: flex;
  height: 50rem;
  width: 100%;
}
.us-section .us-section__content .us-section__image {
  height: 50rem;
  object-fit: cover;
  width: 50%;
}
.us-section .us-section__content .us-section__text {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 4rem;
  width: 50%;
}
.us-section .us-section__content .us-section__text p {
  color: var(--main-white);
  font-size: 2.4rem;
}

@media (max-width: 900px) {
  .us-section {
    margin: 10rem 0;
  }
  .us-section .us-section__title h3 {
    font-size: 4rem;
  }
  .us-section .us-section__content--reverse,
.us-section .us-section__content {
    flex-direction: column;
    height: 100rem;
  }
  .us-section .us-section__content--reverse .us-section__image,
.us-section .us-section__content .us-section__image {
    width: 100%;
  }
  .us-section .us-section__content--reverse .us-section__text,
.us-section .us-section__content .us-section__text {
    width: 100%;
  }
}
.us-text .us-text__content {
  margin: 0 auto;
  max-width: 120rem;
}
.us-text .us-text__content .us-text__image {
  display: block;
  margin: 10rem auto;
  width: 60%;
}
.us-text .us-text__content .us-text__text {
  font-size: 2.4rem;
  line-height: 2.4;
  margin: 0 auto;
  margin-bottom: 20rem;
  width: 50%;
}

@media (max-width: 800px) {
  .us-text .us-text__content {
    margin: 0 auto;
    width: 100%;
  }
  .us-text .us-text__content .us-text__image {
    display: block;
    margin: 6rem auto;
    width: 90%;
  }
  .us-text .us-text__content .us-text__text {
    margin-bottom: 10rem;
    width: 80%;
  }
}
.service {
  width: 100%;
}
.service .service__container {
  align-items: center;
  display: flex;
  font-size: 2.2rem;
  justify-content: space-between;
  margin: 10rem auto;
  max-width: 120rem;
  padding: 0 4rem;
}
.service .service__container .service__image {
  width: 40%;
}
.service .service__container .service__text {
  line-height: 2.6;
  width: 50%;
}

@media (max-width: 1000px) {
  .service .service__container {
    flex-direction: column;
  }
  .service .service__container .service__image {
    width: 100%;
  }
  .service .service__container .service__text {
    margin-top: 6rem;
    width: 90%;
  }
}
.services .services__categories {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 8rem auto;
  max-width: 150rem;
}
.services .services__categories .services__category {
  align-items: center;
  border-radius: 6rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 2rem;
  padding: 4rem 0;
  width: 44rem;
}
.services .services__categories .services__category .services__category-name {
  font-size: 4rem;
}
.services .services__categories .services__category .services__category-name h4 {
  color: var(--main-white);
  text-align: center;
}
.services .services__categories .services__category .services__category-image {
  width: 60%;
}
.services .services__categories .services__category .services__category-image img {
  width: 100%;
}

@media (max-width: 500px) {
  .services .services__categories .services__category .services__category-name h4 {
    font-size: 2.8rem;
  }
}
.services-list .services-list__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 12rem 0;
}
.services-list .services-list__container .services-list__card:hover {
  transform: scale(1.05);
}
.services-list .services-list__container .services-list__card {
  align-items: center;
  background-color: rgb(217, 208, 208);
  border-radius: 4rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  height: 68rem;
  justify-content: space-between;
  margin: 4rem 2rem;
  overflow: hidden;
  transition: all linear 0.6s;
  width: 34rem;
}
.services-list .services-list__container .services-list__card .services-list__card-title {
  padding: 3rem 2rem;
  width: 100%;
}
.services-list .services-list__container .services-list__card .services-list__card-title h3 {
  color: var(--main-white);
  font-size: 2.6rem;
  text-align: center;
}
.services-list .services-list__container .services-list__card .services-list__card-image {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.services-list .services-list__container .services-list__card .services-list__card-image img {
  object-fit: cover;
  width: 40%;
}
.services-list .services-list__container .services-list__card .services-list__card-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 26rem;
  justify-content: space-evenly;
  padding: 1rem 2rem;
}
.services-list .services-list__container .services-list__card .services-list__card-text p {
  color: var(--main-white);
}

.qa .qa__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8rem auto;
  max-width: 120rem;
  width: 100%;
}
.qa .qa__container .qa__video {
  margin: 4rem auto;
  width: 100%;
}
.qa .qa__container .qa__video video {
  display: block;
  margin: 0 auto;
  width: 60%;
}
.qa .qa__container .qa__question {
  border-radius: 4rem 0 4rem 0;
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  padding: 4rem;
  transition: all ease-in-out 0.4s;
  width: 80%;
}
.qa .qa__container .qa__question .qa__question-title {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  width: 100%;
}
.qa .qa__container .qa__question.qa-red:hover {
  background-color: var(--main-red);
  box-shadow: 1rem 1rem 0.8rem var(--black-shadow-light);
  color: var(--main-white);
}
.qa .qa__container .qa__question.qa-green:hover {
  background-color: var(--main-green);
  box-shadow: 1rem 1rem 0.8rem var(--black-shadow-light);
  color: var(--main-white);
}
.qa .qa__container .qa__question.qa-green .qa__question-title h3 {
  text-align: end;
}

.about .about__container {
  width: 100%;
  margin: 10rem auto;
  max-width: 120rem;
}
.about .about__container .about__name-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.about .about__container .about__name-container .about__name-left,
.about .about__container .about__name-container .about__name-right {
  font-size: 4rem;
}
.about .about__container .about__name-container .about__name-left:hover,
.about .about__container .about__name-container .about__name-right:hover {
  cursor: pointer;
}
.about .about__container .about__name-container .about__name {
  position: relative;
  height: 10rem;
  margin: 0 2rem;
  width: 70%;
}
.about .about__container .about__name-container .about__name h2 {
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--main-green);
  font-size: 4rem;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  opacity: 0;
}
.about .about__container .about__name-container .about__name h2.selected {
  opacity: 1;
}
.about .about__container .about__card {
  position: relative;
  background-color: var(--main-red);
  border-radius: 6rem 0 6rem 0;
  height: 48rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  min-width: 26rem;
  margin: 10rem auto;
}
.about .about__container .about__card .about__card-inner {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.about .about__container .about__card .about__card-inner img {
  border-radius: 50%;
  width: 26rem;
}
.about .about__container .about__card .about__card-inner p {
  font-size: 3.4rem;
  color: var(--main-white);
  margin-top: 2rem;
}
.about .about__container .about__card .about__card-inner.about__card-inner--selected {
  opacity: 1;
}
.about .about__container .about__card:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .about .about__container {
    margin: 8rem auto;
  }
  .about .about__container .about__name-container .about__name h2 {
    font-size: 2.8rem;
  }
  .about .about__container .about__card {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .about .about__container .about__card .about__card-inner img {
    width: 22rem;
  }
}

/*# sourceMappingURL=styles.css.map */
