mixin Slider(sliderContents)
    section(data-aos="fade-down").section-slider 
        .slider-container 
            ul.slider 
                li.slide: img(src="img/jpg/forest.jpg")
                li.slide: img(src="img/jpg/forest_3.jpg")
                li.slide.slide-text
                    .slide-information
                        h3 Título del Slide 
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam placeat, dolores porro ipsa assumenda ut? Culpa quaerat alias numquam!
                li.slide: img(src="img/jpg/forest.jpg")
        .slider-buttons-container 
            .slider-buttons 
                .slider__button
                .slider__button
                .slider__button
                .slider__button