/****************************************************************/
/************************* Menu Desktop *************************/
/****************************************************************/

.desktop-menu {
    .desktop-menu__navbar {
        align-items:      center;
        background-color: var(--main-black);        
        box-shadow:       0rem 0.2rem 1.6rem var(--main-black);
        display:          flex;
        justify-content:  space-between;
        padding:          0 4rem;
        position:         fixed;
        top:              0;
        transition:       top ease-in-out 1s;
        width:            100%;

        .desktop-menu__icon {
            color:      var(--main-white);
            font-size:  2.4rem;
            transition: transform linear 0.2s;
        }

        .desktop-menu__icon:hover {
            color:  var(--complementary-two);
            cursor: pointer;
        }

        .desktop-menu__icon:active {
            color:     var(--main-white);
            cursor:    pointer;
            transform: rotate(180deg);
        }

        .desktop-menu__menu {
            align-items: center;
            display:     flex;
            list-style:  none;
            
            .desktop-menu__element {
                height: inherit;
                
                .desktop-menu__link {
                    color:           var(--main-white);
                    border-bottom:   solid 0.4rem transparent;
                    display:         inline-block;
                    font-size:       2.4rem;
                    padding:         1rem 6rem;
                    text-decoration: none;
                }

                .desktop-menu__link.desktop-menu__link--selected {
                    border-bottom: solid 0.4rem var(--main-white);
                    font-weight:   bolder;
                }
                
                .desktop-menu__link:hover,
                .desktop-menu__link.desktop-menu__link-selected:hover {
                    border-bottom:   solid 0.4rem var(--complementary-two);
                    color:           var(--complementary-two);
                }
            }
        }
    }
    
    .desktop-menu__lateral-layout {
        height:     100vh;
        left:       -46rem;
        position:   fixed;
        top:        0;
        transition: left ease-in-out 1.2s;
        visibility: hidden;
        width:      100vw;

        .desktop-menu__lateral {
            align-items:      center;
            background-color: var(--main-black);
            box-shadow:       0.2rem 0rem 1.6rem var(--main-black);
            display:          flex;
            flex-direction:   column;
            height:           inherit;
            justify-content:  center;
            width:            40rem;
            
            .desktop-menu__lateral-head {
                align-items:     center;
                border-bottom:   solid 0.1rem var(--main-white);
                display:         flex;
                height:          30%;
                justify-content: center;
                position:        relative;
                width:           100%;
                
                .desktop-menu__lateral-close {
                    color:      var(--main-white);
                    font-size:  2.8rem;
                    position:   absolute;
                    right:      2rem;
                    top:        2rem;
                }
    
                .desktop-menu__lateral-close:hover {
                    color:  var(--complementary-two);
                    cursor: pointer;
                }
                
                .desktop-menu__lateral-image {
                    border-radius: 50%;
                    height:        90%;
                }
            }
    
            .desktop-menu__lateral-menu {
                list-style: none;
                margin-top: 2rem;
                max-height: 68%;
                overflow-y: auto;
                width:      100%;
                
                .desktop-menu__lateral-element {
                    .desktop-menu__link {
                        color:           var(--main-white);
                        display:         inline-block;
                        font-size:       2.2rem;
                        padding:         0.8rem 4rem;
                        text-decoration: none;
                        transition:      all linear 0.1s;
                        width:           100%;
                    }
                    
                    .desktop-menu__link:hover {
                        background-color: var(--main-white);
                        color:            var(--main-dark);
                    }
                }
            }

            .desktop-menu__lateral-menu::-webkit-scrollbar {
                background-color: var(--main-black);
                width:            1.2rem;
            }
            
            .desktop-menu__lateral-menu::-webkit-scrollbar-thumb {
                background-color: var(--main-red);
                border-radius:    1rem;
            }
            
            .desktop-menu__lateral-menu::-webkit-scrollbar-thumb:hover {
                background-color: var(--main-green);
                border-radius:    1rem;
            }
        }    
    }

    .desktop-menu__lateral-layout.desktop-menu__lateral--active {
        left: 0;
    }
}

@media (max-width: 900px) {
    .desktop-menu {
        display: none;
    }    
}