extend components/template.pug


block Title 
    +Title("error_404")
block Main
    +Header("error_404", "")
    main#error_404
        section.error_404
            div(data-aos="zoom-out").error_404.title-red
                h3 404
            .404__content 
                div(data-aos="zoom-in").error_404__text 
                    h3 Lo sentimos, el recurso que buscas no esta disponible, <a href="index.html"> da click aqui para ir al inicio</a>
block Footer
    +Footer()