extend components/template.pug


block Title 
    +Title("Acerca de")
block Main
    +Header("about", "")
    main#about
        include components/buttons.pug
        include components/modal.pug
        section.about
            div(data-aos="zoom-out").about__title.title-green
                h3 Acerca de Logos Institute
            .about__container
                .about__name-container 
                    .about__name-left 
                        i.fa-solid.fa-circle-arrow-left.color-green
                    .about__name
                        h2.selected Manuel Gilberto Garcia Aguilar 
                        h2 Omar Daniel Esquivel Sánchez
                        h2 Maria Pérez Perez
                        h2 Juan Gomez Gomez
                    .about__name-right 
                        i.fa-solid.fa-circle-arrow-right.color-green

                .about__card.card-shadow
                    .about__card-inner.about__card-inner--selected
                        img(src="img/jpg/isotipo 1.jpg", alt="Logos Institute Team Image")
                        p Ceo
                    .about__card-inner
                        img(src="img/jpg/isotipo 3.jpg", alt="Logos Institute Team Image")
                        p Desarrollador
                    .about__card-inner
                        img(src="img/jpg/isotipo 2.jpg", alt="Logos Institute Team Image")
                        p Contabilidad
                    .about__card-inner
                        img(src="img/jpg/isotipo 4.jpg", alt="Logos Institute Team Image")
                        p Marketing
                .about__buttons-container.display-none
                    +Button('', 'Manuel Gilberto Garcia Aguilar', '')(class="modal-button name-modal-about-0")
                    +Button('', 'Omar Daniel Esquivel Sánchez', '')(class="modal-button name-modal-about-1")
                    +Button('', 'Maria Perez Perez', '')(class="modal-button name-modal-about-2")
                    +Button('', 'Juan Gomez Gomez', '')(class="modal-button name-modal-about-3")
                .about__modals-container
                    +Modal(
                        'Manuel Gilberto Garcia Aguilar',
                        '', 
                        '<img src="img/jpg/isotipo 1.jpg" alt="Logos Institute Team Image" /> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, tenetur, molestias ex non dolores corporis voluptatem laudantium eos natus et eius ipsa ducimus? Praesentium eaque laboriosam quis ipsum iste dolorem!</p>', 
                        '', 
                        ['Regresar'], 
                        ''
                        )(class="name-modal-about-0 modal-layout modal-team")
                    +Modal(
                        'Omar Daniel Esquivel Sánchez',
                        '', 
                        '<img src="img/jpg/isotipo 3.jpg" alt="Logos Institute Team Image" /> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum.</p>', 
                        '', 
                        ['Regresar'], 
                        ''
                        )(class="name-modal-about-1 modal-layout modal-team")
                    +Modal(
                        'Maria Perez Perez',
                        '', 
                        '<img src="img/jpg/isotipo 2.jpg" alt="Logos Institute Team Image" /> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, tenetur, molestias ex non dolores corporis voluptatem laudantium eos natus et eius ipsa ducimus? Praesentium eaque laboriosam quis ipsum iste dolorem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, tenetur, molestias ex non dolores corporis voluptatem laudantium eos natus et eius ipsa ducimus? Praesentium eaque laboriosam quis ipsum iste dolorem!</p>', 
                        '', 
                        ['Regresar'], 
                        ''
                        )(class="name-modal-about-2 modal-layout modal-team")
                    +Modal(
                        'Juan Gomez Gomez',
                        '', 
                        '<img src="img/jpg/isotipo 4.jpg" alt="Logos Institute Team Image" /> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, tenetur, molestias ex non dolores.</p>', 
                        '', 
                        ['Regresar'], 
                        ''
                        )(class="name-modal-about-3 modal-layout modal-team")
    //- script(src="js/app_about.js") 
    //- script(src="js/app_modal.js") 
block Footer
    +Footer()(class="footer-single")