extend components/template.pug


block Title 
    +Title("Acerca de")
block Main
    +Header("about", "")
    main#about
        section.about
            div(data-aos="zoom-out").about__title.title-green
                h3 Acerca de Logos Institute
            .about__container
                .about__name-container 
                    .about__name-left 
                        i.fa-solid.fa-circle-arrow-left.color-green
                    .about__name
                        h2.selected Manuel Gilberto Garcia Aguilar 
                        h2 Omar Daniel Esquivel Sánchez
                    .about__name-right 
                        i.fa-solid.fa-circle-arrow-right.color-green

                .about__card.card-shadow
                    .about__card-inner.about__card-inner--selected
                        img(src="img/jpg/isotipo 1.jpg", alt="Logos Institute Team Image")
                        p Ceo
                    .about__card-inner
                        img(src="img/jpg/isotipo 3.jpg", alt="Logos Institute Team Image")
                        p Desarrollador

block Footer
    +Footer()(class="footer-single")