extend components/template.pug


block Title 
    +Title("Blog")
block Main
    +Header("blog", "")
    main#blog
        section.blog
            div(data-aos="zoom-out").blog__title.title-red
                h3 Blog
            .blog__post-container
                div(data-aos="zoom-out").blog__post
                    .blog__post-image
                        img(src="img/jpg/forest.jpg", alt="Logos Institute Blog")
                    .blog__post-title 
                        h3 Primer Post
                    .blog__post-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim quas facilis, repellendus consequatur voluptate. Aliquid eaque, porro sed suscipit i...
                    .blog__post-categories
                        a(href="#") Viajes
                        a(href="#") Gramatica
                        a(href="#") Capacitacion
                    a(href="#").link-button
                        button Leer más
                div(data-aos="zoom-out").blog__post
                    .blog__post-image
                        img(src="img/jpg/forest.jpg", alt="Logos Institute Blog")
                    .blog__post-title 
                        h3 Primer Post
                    .blog__post-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim quas facilis, repellendus consequatur voluptate. Aliquid eaque, porro sed suscipit i...
                    .blog__post-categories
                        a(href="#") Viajes
                        a(href="#") Gramatica
                        a(href="#") Capacitacion
                    a(href="#").link-button
                        button Leer más
                div(data-aos="zoom-out").blog__post
                    .blog__post-image
                        img(src="img/jpg/forest.jpg", alt="Logos Institute Blog")
                    .blog__post-title 
                        h3 Primer Post
                    .blog__post-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim quas facilis, repellendus consequatur voluptate. Aliquid eaque, porro sed suscipit i...
                    .blog__post-categories
                        a(href="#") Viajes
                        a(href="#") Gramatica
                        a(href="#") Capacitacion
                    a(href="#").link-button
                        button Leer más
                div(data-aos="zoom-out").blog__post
                    .blog__post-image
                        img(src="img/jpg/forest.jpg", alt="Logos Institute Blog")
                    .blog__post-title 
                        h3 Primer Post
                    .blog__post-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim quas facilis, repellendus consequatur voluptate. Aliquid eaque, porro sed suscipit i...
                    .blog__post-categories
                        a(href="#") Viajes
                        a(href="#") Gramatica
                        a(href="#") Capacitacion
                    a(href="#").link-button
                        button Leer más
                div(data-aos="zoom-out").blog__post
                    .blog__post-image
                        img(src="img/jpg/forest.jpg", alt="Logos Institute Blog")
                    .blog__post-title 
                        h3 Primer Post
                    .blog__post-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim quas facilis, repellendus consequatur voluptate. Aliquid eaque, porro sed suscipit i...
                    .blog__post-categories
                        a(href="#") Viajes
                        a(href="#") Gramatica
                        a(href="#") Capacitacion
                    a(href="#").link-button
                        button Leer más
                div(data-aos="zoom-out").blog__post
                    .blog__post-image
                        img(src="img/jpg/forest.jpg", alt="Logos Institute Blog")
                    .blog__post-title 
                        h3 Primer Post
                    .blog__post-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim quas facilis, repellendus consequatur voluptate. Aliquid eaque, porro sed suscipit i...
                    .blog__post-categories
                        a(href="#") Viajes
                        a(href="#") Gramatica
                        a(href="#") Capacitacion
                    a(href="#").link-button
                        button Leer más
                div(data-aos="zoom-out").blog__post
                    .blog__post-image
                        img(src="img/jpg/forest.jpg", alt="Logos Institute Blog")
                    .blog__post-title 
                        h3 Primer Post
                    .blog__post-text
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non enim quas facilis, repellendus consequatur voluptate. Aliquid eaque, porro sed suscipit i...
                    .blog__post-categories
                        a(href="#") Viajes
                        a(href="#") Gramatica
                        a(href="#") Capacitacion
                    a(href="#").link-button
                        button Leer más
block Footer
    +Footer()(class="footer-single")
    