extend components/template.pug


block Title 
    +Title("Contacto")
block Main
    +Header("contact", "hero-contact")
    main#contact
        include components/buttons.pug
        include components/modal.pug
        section.social-section 
            h2 Nuestras redes sociales 
            .social-section__container
                .social-section__item.fa-brands.fa-tiktok
                .social-section__item.fa-brands.fa-canadian-maple-leaf
                .social-section__item.fa-brands.fa-facebook
                .social-section__item.fa-brands.fa-instagram
                .social-section__item.fa-brands.fa-twitter
            .social-section__buttons.display-none
                +Button('', 'tiktok', '')(class="modal-button name-modal-social-0")
                +Button('', 'logos', '')(class="modal-button name-modal-social-1")
                +Button('', 'facebook', '')(class="modal-button name-modal-social-2")
                +Button('', 'instagram', '')(class="modal-button name-modal-social-3")
                +Button('', 'twitter', '')(class="modal-button name-modal-social-4")
            .social-section__modals
                +Modal('Tiktok', '', '<i class="icon fa-brands fa-tiktok"></i><p>Lorem ipsum dolor sit</p>', '', ['Ir al sitio', 'Regresar'], '')(class="name-modal-social-0 modal-layout modal-social")
                +Modal('Logos', '', '<i class="icon fa-brands fa-canadian-maple-leaf"></i><p>Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem ipsum dolor sit</p>', '', ['Ir al sitio', 'Regresar'], '')(class="name-modal-social-1 modal-layout modal-social")
                +Modal('Facebook', '', '<i class="icon fa-brands fa-facebook"></i><p>Lorem ipsum dolor sit</p>', '', ['Ir al sitio', 'Regresar'], '')(class="name-modal-social-2 modal-layout modal-social")
                +Modal('Instagram', '', '<i class="icon fa-brands fa-instagram"></i><p>Lorem ipsum dolor sit</p>', '', ['Ir al sitio', 'Regresar'], '')(class="name-modal-social-3 modal-layout modal-social")
                +Modal('Twitter', '', '<i class="icon fa-brands fa-twitter"></i><p>Lorem ipsum dolor sit</p>', '', ['Ir al sitio', 'Regresar'], '')(class="name-modal-social-4 modal-layout modal-social")
    script(src="js/app_modal.js")
    script(src="js/app_modalContact.js")
    script
        |    const okButtons = document.querySelectorAll('.modal__button.modal__ok'),
        |          icons = document.querySelectorAll('.modal .icon'),
        |          social = [
        |            'https://www.tiktok.com',
        |            'https://www.tiktok.com',
        |            'https://www.facebook.com',
        |            'https://www.instagram.com',
        |            'https://www.twitter.com',
        |          ];
        |    okButtons.forEach(function(element, index) {
        |        element.addEventListener('click', function() {
        |            window.open(social[index]);
        |        });
        |    });
        |    console.log(icons);
        |    icons.forEach(function(element, index) {
        |        element.addEventListener('click', function() {
        |            window.open(social[index]);
        |        });
        |    });
block Footer
    +Footer()