extend components/template.pug


block Title 
    +Title("Servicios")
block Main
    +Header("services-list", "")
    main#services-list
        section.services-list
            .services-list__title.title-green 
                h3 Capacitaciones
            .services-list__container 
                div(data-aos="flip-left").services-list__card.card-shadow
                    .services-list__card-title.bg-green
                        h3 Curso de ingles super super avanzado
                    .services-list__card-image
                        img(src="img/png/terciario_sin_fondo_2.png", alt="Logos Institute Product Logo")
                    .services-list__card-text.bg-green
                        p Lorem Ipsum is simply dummy text of the printing and ty ...
                        a(href="service.html").link-button
                            button Ver más
                div(data-aos="flip-right").services-list__card.card-shadow
                    .services-list__card-title.bg-red
                        h3 Curso de ingles
                    .services-list__card-image
                        img(src="img/png/terciario_sin_fondo_1.png", alt="Logos Institute Product Logo")
                    .services-list__card-text.bg-red
                        p Lorem Ipsum is simply dummy text of the printing and ty ...
                        a(href="service.html").link-button
                            button Ver más            
                div(data-aos="flip-left").services-list__card.card-shadow
                    .services-list__card-title.bg-green
                        h3 Curso de ingles
                    .services-list__card-image
                        img(src="img/png/terciario_sin_fondo_2.png", alt="Logos Institute Product Logo")
                    .services-list__card-text.bg-green
                        p Lorem Ipsum is simply dummy text of the printing and ty ...
                        a(href="service.html").link-button
                            button Ver más
                div(data-aos="flip-right").services-list__card.card-shadow
                    .services-list__card-title.bg-red
                        h3 Curso de ingles
                    .services-list__card-image
                        img(src="img/png/terciario_sin_fondo_1.png", alt="Logos Institute Product Logo")
                    .services-list__card-text.bg-red
                        p Lorem Ipsum is simply dummy text of the printing and ty ...
                        a(href="service.html").link-button
                            button Ver más            
                div(data-aos="flip-left").services-list__card.card-shadow
                    .services-list__card-title.bg-green
                        h3 Curso de ingles
                    .services-list__card-image
                        img(src="img/png/terciario_sin_fondo_2.png", alt="Logos Institute Product Logo")
                    .services-list__card-text.bg-green
                        p Lorem Ipsum is simply dummy text of the printing and ty ...
                        a(href="service.html").link-button
                            button Ver más
                div(data-aos="flip-right").services-list__card.card-shadow
                    .services-list__card-title.bg-red
                        h3 Curso de ingles
                    .services-list__card-image
                        img(src="img/png/terciario_sin_fondo_1.png", alt="Logos Institute Product Logo")
                    .services-list__card-text.bg-red
                        p Lorem Ipsum is simply dummy text of the printing and ty ...
                        a(href="service.html").link-button
                            button Ver más            
                div(data-aos="flip-left").services-list__card.card-shadow
                    .services-list__card-title.bg-green
                        h3 Curso de ingles
                    .services-list__card-image
                        img(src="img/png/terciario_sin_fondo_2.png", alt="Logos Institute Product Logo")
                    .services-list__card-text.bg-green
                        p Lorem Ipsum is simply dummy text of the printing and ty ...
                        a(href="service.html").link-button
                            button Ver más
                div(data-aos="flip-right").services-list__card.card-shadow
                    .services-list__card-title.bg-red
                        h3 Curso de ingles
                    .services-list__card-image
                        img(src="img/png/terciario_sin_fondo_1.png", alt="Logos Institute Product Logo")
                    .services-list__card-text.bg-red
                        p Lorem Ipsum is simply dummy text of the printing and ty ...
                        a(href="service.html").link-button
                            button Ver más            

block Footer        
    +Footer()(class="footer-single")