extend components/template.pug


block Title 
    +Title("Servicios")
block Main
    +Header("services", "")
    main#services
        h1 Servicios
block Footer        
    +Footer()(class="footer-single")