extend components/template.pug


block Title 
    +Title("Misión")
block Main
    +Header("us-text", "")
    main#us-text
        section.us-text
            div(data-aos="zoom-out").us-text__title.title-red
                h3 Misión 
            .us-text__content 
                img(data-aos="fade-up" ,src="img/jpg/isotipo 3.jpg", alt="Logos Institute Us").us-text__image
                div(data-aos="zoom-in").us-text__text 
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
block Footer
    +Footer()