extend components/template.pug


block Title 
    +Title("Nosotros")
block Main
    +Header("us", "hero-us")
    main#us
        section.us-section 
            div(data-aos="zoom-out").us-section__title: h3 Misión
            div(data-aos="zoom-in").us-section__content.bg-green 
                img(src="img/jpg/isotipo 5.jpg", alt="Logos Institute Us").us-section__image 
                .us-section__text
                    a(href="us-text.html").clear-link
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 15... 
        section.us-section 
            div(data-aos="zoom-out").us-section__title: h3 Visión
            div(data-aos="zoom-in").us-section__content.bg-red.us-section__content--reverse
                img(src="img/jpg/isotipo 3.jpg", alt="Logos Institute Us").us-section__image 
                .us-section__text
                    a(href="us-text.html").clear-link
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 15... 
        section.us-section 
            div(data-aos="zoom-out").us-section__title: h3 Nuestro Método
            div(data-aos="zoom-in").us-section__content.bg-green 
                img(src="img/jpg/isotipo 1.jpg", alt="Logos Institute Us").us-section__image 
                .us-section__text
                    a(href="us-text.html").clear-link
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 15... 
block Footer
    +Footer()   