.about {
    .about__container {
        width: 100%;
        margin: 10rem auto;
        max-width: 120rem;

        .about__name-container {
            align-items: center;
            display: flex;
            justify-content: center;

            .about__name-left,
            .about__name-right {
                font-size: 4rem;
            }

            .about__name-left:hover,
            .about__name-right:hover {
                cursor: pointer;
            }
            
            .about__name {
                position: relative;
                height: 10rem;
                margin: 0 2rem;
                width: 70%;
                
                h2 {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    color: var(--main-green);
                    font-size: 4rem;
                    position: absolute;
                    text-align: center;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 10;
                    width: 100%;
                    opacity: 0;
                }

                h2.selected {
                    opacity: 1;
                }
            }
        }

        .about__card {
            position: relative;
            background-color: var(--main-red);
            border-radius: 6rem 0 6rem 0;
            height: 48rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            min-width: 26rem;
            margin: 10rem auto;

            .about__card-inner {
                position: absolute;
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 10;

                img {
                    border-radius: 50%;
                    // height: 30rem;
                    width: 26rem;
                }

                p {
                    font-size: 3.4rem;
                    color: var(--main-white);
                    margin-top: 2rem;
                }
                
            }
            
            .about__card-inner.about__card-inner--selected {
                opacity: 1;
                
            }
        }

        .about__card:hover {
            cursor: pointer;
        }
    }
}


@media (max-width: 600px) {
    .about {
        .about__container {
            margin: 8rem auto;
    
            .about__name-container {
                .about__name {                    
                    h2 {
                        font-size: 2.8rem;
                    }
                }
            }
    
            .about__card {
                width: 90%;
            }
        }
    }
}

@media (max-width: 400px) {
    .about {
        .about__container {
            .about__card {
                .about__card-inner {
                    img {
                        width: 22rem;
                    }
                }
            }
        }
    }
}
