.about {
    .about__container {
        margin:    10rem auto;
        max-width: 120rem;
        width:     100%;

        .about__name-container {
            align-items:     center;
            display:         flex;
            justify-content: center;

            .about__name-left,
            .about__name-right {
                font-size: 4rem;
            }

            .about__name-left:hover,
            .about__name-right:hover {
                cursor: pointer;
            }
            
            .about__name {
                height:   10rem;
                margin:   0 2rem;
                position: relative;
                width:    70%;
                
                h2 {
                    align-items:     center;
                    bottom:          0;
                    color:           var(--main-green);
                    display:         flex;
                    font-size:       4rem;
                    justify-content: center;
                    left:            0;
                    opacity:         0;
                    position:        absolute;
                    right:           0;
                    text-align:      center;
                    top:             0;
                    width:           100%;
                    z-index:         10;
                }

                h2.selected {
                    opacity: 1;
                }
            }
        }

        .about__card {
            align-items:      center;
            background-color: var(--main-red);
            border-radius:    6rem 0 6rem 0;
            display:          flex;
            height:           48rem;
            justify-content:  center;
            position:         relative;
            margin:           10rem auto;
            min-width:        26rem;
            width:            70%;

            .about__card-inner {
                align-items:     center;
                display:         none;
                flex-direction:  column;
                justify-content: center;                
                position:        absolute;
                z-index:         10;

                img {
                    border-radius: 50%;
                    width:         26rem;
                }

                p {
                    color:      var(--main-white);
                    font-size:  3.4rem;
                    margin-top: 2rem;
                }
            }
            
            .about__card-inner.about__card-inner--selected {
                display: flex;
                
            }
        }

        .about__card:hover {
            cursor: pointer;
        }
    }
}


@media (max-width: 600px) {
    .about {
        .about__container {
            margin: 8rem auto;
    
            .about__name-container {
                .about__name {                    
                    h2 {
                        font-size: 2.8rem;
                    }
                }
            }
    
            .about__card {
                width: 90%;
            }
        }
    }
}

@media (max-width: 400px) {
    .about {
        .about__container {
            .about__card {
                .about__card-inner {
                    img {
                        width: 22rem;
                    }
                }
            }
        }
    }
}