.about {
    .about__container {
        width: 100%;
        margin: 8rem auto;
        max-width: 120rem;

        .about__name-container {
            align-items: center;
            display: flex;
            justify-content: center;
            
            .about__name {
                position: relative;
                height: 10rem;
                width: 70%;
                
                h2 {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    color: var(--main-green);
                    font-size: 4rem;
                    position: absolute;
                    text-align: center;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    z-index: 10;
                    width: 100%;
                    opacity: 0;
                }

                h2.selected {
                    opacity: 1;
                }
            }
        }

        .about__card {
            position: relative;
            background-color: var(--main-red);
            border-radius: 6rem 0 6rem 0;
            height: 48rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            min-width: 26rem;
            margin: 6rem auto;

            .about__card-inner {
                position: absolute;
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 10;

                img {
                    border-radius: 50%;
                    // height: 30rem;
                    width: 26rem;
                }

                p {
                    font-size: 3.4rem;
                    color: var(--main-white);
                    margin-top: 2rem;
                }

            }

            .about__card-inner.about__card-inner--selected {
                opacity: 1;

            }
        }
    }
}