.send-message {
    .send-message__text {
        align-items:     center;
        display:         flex;
        height:          60vh;
        justify-content: center;

        h3 {
            font-size:  3.6rem;
            max-width:  120rem;
            text-align: center;
            width:      80%;

            a {
                color:           var(--main-black);
                text-decoration: none;
            }

            a.hover {
                color: var(--complementary-two);
            }
        }
    }
}