.testimonials {
    .testimonials__container {
        margin: 8rem auto;
        width: 100%;

        .testimonial {
            border-radius: 4rem 0;
            margin:        8rem auto;
            padding:       2rem 4rem;
            transition:    all ease 0.8s;
            width:         80%;

            .testimonial__name {
                font-size:      4rem;
                padding-bottom: 4rem;
                text-align:     center;
            }

            .testimonial__content {
                align-items:     center;
                display:         flex;
                flex-direction:  row;
                justify-content: space-evenly;

                .testimonial__text {
                    font-style: italic;
                    text-align: center;
                    width:      40%;
                }
                
                .testimonial__video {
                    width: 45%;
                    
                    video {
                        width: 100%;
                    }
                }
            }
        }

        .testimonial:hover {
            background-color: var(--complementary-one);
            box-shadow:       1rem 1rem 0.8rem var(--black-shadow-light);
        }
    }
}

@media (max-width: 800px) {
    .testimonials {
        .testimonials__container {
            margin: 8rem auto;
            width:  100%;
    
            .testimonial {
                width: 90%;
    
                .testimonial__content {
                    flex-direction: column-reverse;
    
                    .testimonial__text {
                        margin-top: 4rem;
                        width:      80%;
                    }
                    
                    .testimonial__video {
                        width: 90%;                    
                    }
                }
            }
        }
    }
}