/*************************************************************/
/************************* Utilities *************************/
/*************************************************************/

.bg-green {
    background-color: var(--main-green);
}

.bg-red {
    background-color: var(--main-red);
}

.bolder {
    font-weight: bolder;
}

.card-shadow {
    box-shadow: 1rem 1rem 0.8rem var(--black-shadow-light);
}

.clear-link {
    text-decoration: none;
}

.clear-list {
    list-style: none;
}

.color-complementaryTwoHover:hover {
    color: var(--complementary-two);
}

.link-button button {
    background-color: var(--main-black);
    border:           solid 0.2rem var(--main-white);
    border-radius:    2rem;
    color:            var(--main-white);
    font-size:        2.4rem;
    padding:          2rem 4rem;
    transition:       all linear 0.2s;
}

.link-button button:hover {
    border:    solid 0.2rem var(--complementary-two);
    color:     var(--complementary-two);
    cursor:    pointer;
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .link-button button {
        font-size: 2.2rem;
        padding:   1.6rem 2.8rem;
    }
}

.text-center {
    text-align: center;
}

.title-red {
    background-color: var(--main-red);
}

.title-green {
    background-color: var(--main-green);
}

.title-red,
.title-green {
    align-items:     center;
    display:         flex;
    justify-content: center;
    margin:          0 auto;
    padding:         6rem 2rem;
    width:           100%;

    * {
        color:      var(--main-white);
        font-size:  6rem;
        margin-top: 6rem;
        padding:    0 4rem;
        text-align: center;
        width:      100%;
    }
}

@media (max-width: 800px) {
    .title-red,
    .title-green {
        * {
            font-size: 4rem;
        }
    }
}