/*************************************************************/
/************************* Utilities *************************/
/*************************************************************/

.bolder {
    font-weight: bolder;
}

.clear-list {
    list-style: none;
}

.link-button button {
    background-color: var(--main-black);
    border:           solid 0.2rem var(--main-white);
    border-radius:    2rem;
    color:            var(--main-white);
    font-size:        2.6rem;
    padding:          2rem 4rem;
    transition:       all linear 0.2s;
}

.link-button button:hover {
    border:    solid 0.2rem var(--complementary-two);
    color:     var(--complementary-two);
    cursor:    pointer;
    transform: scale(1.1);
}