/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/

:root {
    /* Colors */
    --main-white:        #ffffff;
    --main-green:        #274a35;
    --main-red:          #92272c;
    --main-black:        #000000;
    --complementary-one: #b1c6af;
    --complementary-two: #d6d6d6;
    /* Shadows */
    --black-shadow-light: rgba(0, 0, 0, 0.3);
    --shadow-complementary-one: rgba(177, 198, 175, 0.6);
    /* Calendar */
    --cancel:     #f54f58;
    --to-confirm: #eee350;
    --sold:       #5deb95;
    --available:  #7a78e4;
    /* Readme */
    --readme-blue-1: #22577E;
    --readme-blue-2: #5584AC;
    --readme-blue-3: #22577E;
    --readme-yellow: #95D1CC;
    /* Font */
    --main-font: 'Akshar', sans-serif;
}