/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/

:root {
    /* Colors */
    --main-white:        #ffffff;
    --main-green:        #274a35;
    --main-red:          #92272c;
    --main-black:        #000000;
    --complementary-one: #b1c6af;
    --complementary-two: #d6d6d6;
    /* Buttons */
    --button-white:       #ffffff;
    --button-green:       rgb(0, 148, 0);
    --button-green-hover: rgb(3, 122, 3);
    --button-blue:        rgb(37, 37, 255);
    --button-blue-hover:  rgb(20, 20, 220);
    --button-red:         rgb(231, 0, 0);
    --button-red-hover:   rgb(200, 3, 3);
    /* Shadows */
    --black-shadow-light:       rgba(0, 0, 0, 0.3);
    --shadow-main-red:          rgba(146, 39, 44, 0.6);
    --shadow-main-green:        rgba(39, 74, 53, 0.6);
    --shadow-complementary-one: rgba(177, 198, 175, 0.6);
    // Colors Buttons
    --slide-background:         royalblue;
    --button-gray:              rgb(128, 128, 128);
    --button-white:             rgb(211, 211, 211);
    --button-gray-transparent:  rgba(128, 128, 128, 0.5);
    --button-white-transparent: rgba(211, 211, 211, 0.5);
    /* Calendar */
    --cancel:     #f54f58;
    --to-confirm: #eee350;
    --sold:       #5deb95;
    --available:  #7a78e4;
    /* Readme */
    --readme-blue-1: #22577E;
    --readme-blue-2: #5584AC;
    --readme-blue-3: #22577E;
    --readme-yellow: #95D1CC;
    /* Font */
    --main-font: 'Akshar', sans-serif;
}