.image-back {
    height:     100vh;
    margin:     10rem auto;
    overflow:   hidden;
    position:   relative;
    width:      100%;

    .image-back__image {
        height:     100%;
        object-fit: cover;
        width:      100%;
    }

    .image-back__container {
        align-items:      center;
        background-color: var(--shadow-complementary-one);
        display:          flex;
        flex-direction:   column;
        height:           100%;
        justify-content:  space-between;
        padding:          2rem;
        position:         absolute;
        top:              75%;
        transition:       top ease-in-out 0.8s;
        width:            100%;

        .image-back__title {
            h3 {
                font-size:  3.2rem;
                margin-top: 4rem;
                text-align: center;
            }
        }

        .image-back__content {
            align-items:     center;
            display:         flex;
            flex-basis:      80%;
            flex-direction:  column;
            justify-content: space-evenly;
            
            p {
                font-size: 2.2rem;
                padding:   0 1rem;
            }            
        }        
    }
}

.image-back:hover {
    .image-back__container {
        top: 0;
    }
}