/**********************************************************/
/************************* Mosaic *************************/
/**********************************************************/

.mosaic {
    margin:     12rem 0;
    min-height: 100vh;
    width:      100%;

    .mosaic__row-reverse.mosaic-reverse {
        flex-direction: row;
    }

    .mosaic__row-reverse {
        flex-direction: row-reverse;
    }


    .mosaic-reverse {
        flex-direction: row-reverse;

        .mosaic__title.mosaic-reverse {
            background-color: var(--main-green);
        }

        .mosaic__content.mosaic-reverse {
            background-color: var(--main-red);
        }
    }

    .mosaic__row {
        display: flex;
        height:  50vh;
        width:   100%;

        figure {
            height: 100%;
            width:  50%;

            .mosaic__image {
                height:     100%;
                object-fit: cover;
                width:      100%;
            }
        }
        
        .mosaic__title {
            align-items:      center;
            background-color: var(--main-red);
            color:            var(--main-white);
            display:          flex;
            font-size:        2.8rem;
            height:           100%;
            justify-content:  center;
            padding:          4rem;
            width:            50%;

            h2{
                text-align: center;
            }
        }
        
        .mosaic__content {
            align-items:      center;
            background-color: var(--main-green);
            display:          flex;
            flex-direction:   column;
            gap:              2rem;
            height:           100%;
            justify-content:  center;
            padding:          2rem;
            width:            50%;

            a {
                color:           var(--main-white);
                text-decoration: none;
            }

            a:hover {
                color:           var(--complementary-two);
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 760px) {
    .mosaic {
        margin:     10rem 0;
        min-height: 200vh;
        width:      100%;
    
        .mosaic__row-reverse.mosaic-reverse {
            flex-direction: column;
        }
    
        .mosaic__row-reverse {
            flex-direction: column-reverse;
        }
    
        .mosaic-reverse {
            flex-direction: column-reverse;
        }
        
        .mosaic__row {
            display:        flex;
            flex-direction: column;
            height:         100vh;
            width:          100%;

            figure,
            .mosaic__title,
            .mosaic__content {
                width: 100%;
            }
        }
    }    
}