@import 'components/variables';
@import 'components/settings';
@import 'components/utilities';
@import 'components/menu/menu_desktop';
@import 'components/menu/menu_mobile';
@import 'components/hero';
@import 'components/index';
@import 'components/footer';
@import 'components/modal';
@import 'components/us';
@import 'components/us_text';
@import 'components/service';
@import 'components/services';
@import 'components/services_categories';
@import 'components/qa';
@import 'components/about';
@import 'components/about_modal';
@import 'components/testimonials';
@import 'components/contact';
@import 'components/contact_modal';
@import 'components/blog';
@import 'components/error_404';
@import 'components/forms';
@import 'components/message_send';
@import 'components/post';
@import 'components/created';
@import 'components/one_video';