-var titleMosaic = "Sección tipo mosaico"
-var titleMosaicTwo = "Sección tipo mosaico dos"
-var imageMosaicOne = "https://www.caracteristicas.co/wp-content/uploads/2018/11/montan%CC%83as-e1543190126108.jpg"
-var imageMosaicTwo = "https://www.caracteristicas.co/wp-content/uploads/2018/11/montan%CC%83as-e1543190126108.jpg"
-var mosaicText = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown"
-var buttonTextMosaic = "Ver más"


-var messageOne = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown"
-var messageTwo = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown"


-var indexSliderOne = [['img/jpg/forest.jpg'], ['Slider 1', messageTwo], ['img/jpg/forest_3.jpg']]



-var tabsOneTitles = ["Video 1", "Video 2"]
-var tabsOneContents = ['<video src="video.mp4" controls></video>', '<video src="video2.mp4" controls></video>']


-var tabsOneTitles2 = ["Video 1", "Video 2", "Video 3"]
-var tabsOneContents2 = ['<video src="video.mp4" controls></video>', '<video src="video2.mp4" controls></video>', '<video src="video.mp4" controls></video>']


-var welcomeTitle = "Bienvenidos"
-var welcomeText = "Gracias por acompañarnos en la inauguración de nuestro sitio web. Atentamente, Logos Institute Team"
-var welcomeButtons = ['Continuar']