-var titleMosaic = "Sección tipo mosaico"
-var titleMosaicTwo = "Sección tipo mosaico dos"
-var imageMosaicOne = "https://www.caracteristicas.co/wp-content/uploads/2018/11/montan%CC%83as-e1543190126108.jpg"
-var imageMosaicTwo = "https://www.caracteristicas.co/wp-content/uploads/2018/11/montan%CC%83as-e1543190126108.jpg"
-var mosaicText = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown pr ..."
-var buttonTextMosaic = "Ver más"