mixin Footer()
    footer(class!=attributes.class).footer 
        .footer__container
            h3.footer__social-message Siguenos en nuestras redes sociales
            .footer__social-icons
                a(href="#").footer__social-link: i.fa-brands.fa-tiktok
                a(href="#").footer__social-link: i.fa-brands.fa-canadian-maple-leaf
                a(href="#").footer__social-link: i.fa-brands.fa-facebook
            span.footer__social-copyright Logos Institute 2022 &nbsp;&nbsp; - &nbsp;&nbsp;Todos los derechos reservados
            span.footer__social-les
                a(href="#").footer__social-les-link Logos Employment Service