include header/hero.pug
include header/menu.pug

mixin Header(page, heroClass)
    header 
        +Menu(page)
        if page == 'index'
            +Hero(page)(class=heroClass)
        if page == 'us'
            +Hero(page)(class=heroClass)
        if page == 'contact'
            +Hero(page)(class=heroClass)