include config.pug


doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- Fontawesome
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        //- Google Fonts
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap")
        //- Normalize
        link(rel="stylesheet", href="css/normalize.css")
        //- Styles
        link(rel="stylesheet", href="css/styles.css")
        //- Icon
        link(rel="icon", href="img/ico/favicon.ico")
        //- Title
        include title.pug
        block Title        
    body 
        include header.pug
        block Main
        include footer.pug
        block Footer
        script(src="js/app_menu.js") 
        script(src="js/app_scroll.js") 